extends layout

block content
  div(id="main-div")
    ul(class="nav nav-tabs")
      li(class="active")
        a(data-toggle="tab" href="#CurrentWeather") Current Weather
      li
        a(data-toggle="tab" href="#Forecast") Precipitation Forecast

    div(class="tab-content")
      div(id="CurrentWeather" class="tab-pane fade in active")
        div(id="InitializationHeader1") 
          h2(id="InitializationHeaderText1") Intializing...
        div(class="container-fluid")
          div(class="row")
            div(id="map" class="col-md-10" style="height: 800px;")
            div(class="col-md-2")
              table(style="font-size:larger")
                col(width="100px" style="padding: 50px;")
                col(width="40px")
                tr
                  td <10&deg;F
                  td(bgcolor='#0033CC')
                tr
                  td 10&deg;F - 20&deg;F
                  td(bgcolor='#3F66D8')
                tr
                  td 20&deg;F - 30&deg;F
                  td(bgcolor='#66FFFF')
                tr
                  td 30&deg;F - 40&deg;F
                  td(bgcolor='#B2FFFF')
                tr
                  td 40&deg;F - 50&deg;F
                  td(bgcolor='#FFFFFF')
                tr
                  td 50&deg;F - 60&deg;F
                  td(bgcolor='#FFFFA6')
                tr
                  td 60&deg;F - 70&deg;F
                  td(bgcolor='#FFFF00')
                tr
                  td 70&deg;F - 80&deg;F
                  td(bgcolor='#FFA700')
                tr
                  td 80&deg;F - 90&deg;F
                  td(bgcolor='#FF7600')
                tr
                  td >90&deg;F
                  td(bgcolor='#FF0004')

        div(id="clicked-state")
        //Modal and launcher code here
        button(type="button", class="hidden", data-toggle="modal", id="openModal"
          data-target="#myModal") Launch modal
        div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true")&times;
                h4(class="modal-title", id="myModalLabel") Current Weather
              div(class="modal-body")
                div(id="disp-temp")
                div(id="disp-wind")
                div(id="disp-humidity")

              div(class="modal-footer")
                button(type="button", class="btn btn-default", data-dismiss="modal") Close
      div(id="Forecast" class="tab-pane fade")
        div(id="InitializationHeader2") 
          h2(id="InitializationHeaderText2") Intializing...
        div(class="container-fluid")
          div(class="row")
            div(class="col-md-5")
              h3 Our Forecast
            div(class="col-md-2")
            div(class="col-md-5")
              h3 Actual Forecast
        div(class="container-fluid")
          div(class="row")
            div(class="col-md-5")
              div(id="ourForecastMap" style="width: 600px; height: 400px;")
            div(class="col-md-2" style="text-align: center;font-size:larger;")
              h4 Accuracy
              div(class="well")
                strong(id="accuracyText")
              h4 Precision
              div(class="well")
                strong(id="precisionText")
            div(class="col-md-5")
              div(id="actualForecastMap" style="width: 600px; height: 400px;")
  footer(class="footer text-center" style="padding-top: 50px;")
    hr
    p Data received from:
    p
      a(href="http://www.wunderground.com/") Weather Underground
    p
      a(href="http://openweathermap.org/") OpenWeatherMap





block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
  script(src='/javascripts/lib/raphael.js')
  script(src='/javascripts/usmap.js')
  script(src='/javascripts/customMap.js')
  script(src='/javascripts/serverCom.js')