extends layout

block content
  div(id="map" style="width: 100%; height: 800px;")
  div(id="clicked-state")
  

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
  script(src='/javascripts/lib/raphael.js')
  script(src='/javascripts/usmap.js')
  script(src='/javascripts/customMap.js')
  script(src='/javascripts/serverCom.js')