extends layout

block content
  div(id="main-div")
    ul(class="nav nav-tabs")
      li(class="active")
        a(data-toggle="tab" href="#CurrentWeather") Current Weather
      li
        a(data-toggle="tab" href="#Forecast") Forecast

    div(class="tab-content")
      div(id="CurrentWeather" class="tab-pane fade in active")
        div(id="map" style="width: 100%; height: 800px;")
        div(id="clicked-state")
        //Modal and launcher code here
        button(type="button", class="hidden", data-toggle="modal",
          data-target="#myModal") Launch modal
        div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true")&times;
                h4(class="modal-title", id="myModalLabel") Modal title
              div(class="modal-body") MODAL_BODY HERE

              div(class="modal-footer")
                button(type="button", class="btn btn-default", data-dismiss="modal") Close
                button(type="button", class="btn btn-primary") Save changes
      div(id="Forecast" class="tab-pane fade")
        div(class="container-fluid")
          div(class="row")
            div(class="col-md-5")
              h3 Our Forecast
            div(class="col-md-2")
            div(class="col-md-5")
              h3 Actual Forecast
        div(class="container-fluid")
          div(class="row")
            div(class="col-md-5")
              div(id="ourForecastMap" style="width: 600px; height: 400px;")
            div(class="col-md-2")
            div(class="col-md-5")
              div(id="actualForecastMap" style="width: 600px; height: 400px;")





block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
  script(src='/javascripts/lib/raphael.js')
  script(src='/javascripts/usmap.js')
  script(src='/javascripts/customMap.js')
  script(src='/javascripts/serverCom.js')